{% extends 'base.html' %}
{% block content %}
<a href="{{ url_for('home') }}" class="btn btn-outline-primary mb-2">Main Dashboard</a>
<a href="{{ url_for('admin_dashboard') }}" class="btn btn-outline-dark mb-2">Admin Dashboard</a>
<h2>Post Jobs</h2>
<form method="POST">
    <input type="text" name="name" placeholder="Company Name" class="form-control mb-2" required>
    <input type="text" name="role" placeholder="Role" class="form-control mb-2" required>
    <input type="text" name="ctc" placeholder="CTC" class="form-control mb-2" required>
    <input type="number" step="0.01" name="eligibility_cgpa" placeholder="Eligibility CGPA" class="form-control mb-2" required>
    <input type="text" name="eligibility_branch" placeholder="Eligibility Branch" class="form-control mb-2" required>
    <input type="date" name="placement_date" class="form-control mb-2" required>
    <button type="submit" class="btn btn-success">Post Job</button>
</form>
{% endblock %} 